<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team page</title>
</head>
<body>
    <h1>Team Page</h1>
    <ul>
        <% team.forEach(student => { %>
            <li>
                <a href="/team/<%= student.slug %>"><%= student.fullName %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>